.theme1{
    background: $mainVeryDarkDesaturatedBlue;

.calculator{
    background:$mainVeryDarkDesaturatedBlue ;

    h1,p,span{
        color: $White;
    }

&__result_container_display{
    background: $tertieryVeryDarkDesaturatedBlue;
    color: $White;
}

    &__keyboard, #calculator__theme__switch_slider{
        background: $secondaryVeryDarkDesaturatedBlue;
    }

    #calculator__theme__switch_slider{
        background: $mainVeryDarkDesaturatedBlue;
        &::-webkit-slider-thumb{background: $Red;}
        &::-webkit-slider-runnable-track{background: $secondaryVeryDarkDesaturatedBlue;}
    }
    .btn{
        background: $LightGrayishOrange;
        color: $DarkGrayishBlue;

        box-shadow: 0px -4px 0px 0px $GrayishOrange inset;
        -webkit-box-shadow: 0px -4px 0px 0px $GrayishOrange inset;
        -moz-box-shadow: 0px -4px 0px 0px $GrayishOrange inset;
        
        &:active{
            box-shadow: none;
        }
        
    

    &-reset,&-delete{
        background: $mainDesaturatedDarkBlue;
        color: $White;
        box-shadow: 0px -4px 0px 0px $secondayDesaturatedDarkBlue inset;
        -webkit-box-shadow: 0px -4px 0px 0px $secondayDesaturatedDarkBlue inset;
        -moz-box-shadow: 0px -4px 0px 0px $secondayDesaturatedDarkBlue inset;
    }
&-equals{
     background: $Red;
     color: $White;
     box-shadow: 0px -4px 0px 0px $DarkRed inset;
        -webkit-box-shadow: 0px -4px 0px 0px $DarkRed inset;
        -moz-box-shadow: 0px -4px 0px 0px $DarkRed inset;
}}
}}
